<div class='panel panel-primary'>
    <div class='panel-heading'>
        Securities
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div *ngIf='descriptions.length < 1'>No security descriptions found for security {{securityId}}</div>
            <table class='table' *ngIf='descriptions.length > 0'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#description of descriptions'>
                        <td>{{ description.id }}</td>
                        <td>{{ description.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>