<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li><a [routerLink]="['/transactions']">Transactions</a></li>
                <li><a [routerLink]="['/securities']">Securities</a></li>
                <li><a [routerLink]="['/trades']">Trades</a></li>
                <li><a [routerLink]="['/lots']">Lots</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>